[Unit]
Description=arrowhead-demo-publisher
After=network.target arrowhead-serviceregistry-sql.service
Requires=arrowhead-serviceregistry-sql.service

[Service]
WorkingDirectory=/etc/arrowhead/systems/demo-publisher
ExecStart=/usr/bin/java -jar /usr/share/arrowhead/arrowhead-demo-publisher.jar -d -daemon
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target