Package: [[name]]
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Thomas Pedersen <tp@cs.aau.dk>
Homepage: http://www.arrowhead.eu
Description: Arrowhead Demo Provider
Distribution: development
Depends: java-runtime-headless, arrowhead-common, arrowhead-client-common,
         arrowhead-core-common, client-demo-common